<p class="text-xs-center">Sign in for work</p>
<div class="alert alert-{{ message.type }}" *ngIf="message.text">{{ message.text }}</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div
    class="form-group"
    [ngClass]="{'has-error': form.get('email').invalid && form.get('email').touched}"
  >
    <label for="email">Email</label>
    <input
      type="text"
      class="form-control underlined"
      id="email"
      placeholder="Enter your email"
      formControlName="email"
    >
    <span
      class="form-help-text"
      *ngIf="form.get('email').invalid && form.get('email').touched"
    >
      <span *ngIf="form.get('email')['errors']['required']">Email can not be empty. </span>
      <span *ngIf="form.get('email')['errors']['email']">Please enter a valid email. </span>
    </span>
  </div>
  <div
    class="form-group"
    [ngClass]="{'has-error': form.get('password').invalid && form.get('password').touched}"
  >
    <label for="password">Password</label>
    <input
      type="password"
      class="form-control underlined"
      id="password"
      placeholder="Password"
      formControlName="password"
    >
    <span
      class="form-help-text"
      *ngIf="form.get('password').invalid && form.get('password').touched"
    >
      <span *ngIf="form.get('password')['errors']['required']">Password can not be empty. </span>
      <span *ngIf="form.get('password')['errors']['minlength']">
        Password must be greater than
        {{ form.get('password')['errors']['minlength']['requiredLength'] }}
        symbols. Now {{ form.get('password')['errors']['minlength']['actualLength'] }}.
      </span>
    </span>
  </div>
  <div class="form-group">
    <button
      type="submit"
      class="btn btn-block btn-primary"
      [disabled]="form.invalid"
    >
      Sign in
    </button>
  </div>
  <div class="form-group">
    <p class="text-muted text-xs-center">
      No account? <a [routerLink]="'/registration'">Sign Up!</a>
    </p>
  </div>
</form>
