<div class="row-fluid sortable">
  <div class="box span12">
    <div class="box-header" data-original-title="">
      <h3><span class="break"></span>Catalog of users</h3>
    </div>
    <div class="box-content">
      <table class="table table-striped table-bordered bootstrap-datatable datatable">
        <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Surname</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Objects</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let u of allUsers; index as i">
          <td>{{ u.id }}</td>
          <td>{{ u.name }}</td>
          <td>{{ u.surname }}</td>
          <td>{{ u.email }}</td>
          <td>{{ u.phone }}</td>
          <td>{{ quantityObj[i] }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>