<aside class="sidebar">
    <div class="sidebar-container">
        <div class="sidebar-header">
            <div class="brand">
                adminApp
            </div>
        </div>
        <nav class="menu">
            <ul class="nav metismenu">
                <li routerLinkActive="active">
                    <a [routerLink]="['/system', 'statistics']"> <i class="fa fa-building-o"></i> Statistics </a>
                </li>
                <li routerLinkActive="active">
                    <a [routerLink]="['/system', 'objects-list']"> <i class="fa fa-flash"></i> Catalog of objects </a>
                </li>
                <li routerLinkActive="active">
                    <a [routerLink]="['/system', 'users-list']"> <i class="fa fa-archive"></i> Catalog of users </a>
                </li>
                <li routerLinkActive="active">
                    <a [routerLink]="['/system', 'settings']"> <i class="fa fa-plus-square"></i> Settings </a>
                </li>
                <li routerLinkActive="active">
                    <a [routerLink]="['/system', 'profile']"> <i class="fa fa-plus-square"></i> Profile </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>