<div class="row-fluid sortable">
  <div class="box span12">
    <div class="box-header" data-original-title="">
      <h3><span class="break"></span>Catalog of objects</h3>
      <div class="box-icon">
        <button type="button" class="btn btn-primary" (click)="showAddForm()">Add</button>
        <!--<button type="button" class="btn btn-success">Save</button>-->
        <button class="btn btn-danger"
                [disabled]="objectsForDelete.length === 0" (click)="deleteCheckedObjects()">Delete</button>
        <select class="form-control view-select" (change)="changeView()" [(ngModel)]="quantityPages">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="20">20</option>
        </select>
      </div>
    </div>
    <div class="add-object-cont">
      <app-add-object></app-add-object>
      <app-edit-object></app-edit-object>
    </div>
    <div class="box-content">
      <table class="table table-striped table-bordered bootstrap-datatable datatable">
        <thead>
        <tr>
          <th>ID</th>
          <th>Category</th>
          <th>Description</th>
          <th>Area, m <sup>2</sup></th>
          <th>Price, $</th>
          <th>Date</th>
          <th>User</th>
          <th>Actions</th>
          <th>Select</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let o of showPages; index as i" [ngClass]="{'object-active': activeEditObject === o.id}">
          <td>{{ o.id }}</td>
          <td>{{ o.category }}</td>
          <td>{{ o.description }}</td>
          <td>{{ o.area }}</td>
          <td>{{ o.price | number:'1.1' }}</td>
          <td>{{ o.date }}</td>
          <td>{{ o.user }}</td>
          <td class="center">
            <button class="btn btn-info" (click)="showEditForm(o)">
              <i class="fa fa-pencil"></i>
            </button>
            <button class="btn btn-danger" (click)="deleteObject(o.id)" [disabled]="activeEditObject === o.id">
              <i class="fa fa-trash-o"></i>
            </button>
          </td>
          <td>
            <input type="checkbox" value="{{ o.id }}" [checked]="o.checked !== undefined && o.checked !== -1"
                                                      [disabled]="activeEditObject === o.id"
                                                      (change)="checkedObject($event)">
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<app-pagination></app-pagination>