<div class="col-md-6 col-xl-4">
  <h3>Edit profile</h3>
  <div class="alert alert-{{ message.type }}" *ngIf="message.text">{{ message.text }}</div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div
            class="form-group"
            *ngFor="let f of formFieldsArray"
            [ngClass]="{'has-error': form.get(f.field).invalid && form.get(f.field).touched,
                     'has-success': form.get(f.field).valid}"
    >
      <label for="prof-{{ f.field }}">{{ f.field }}</label>
      <input
              type="{{ f.type }}"
              class="form-control underlined"
              id="prof-{{ f.field }}"
              placeholder="enter {{ f.field }}"
              formControlName="{{ f.field }}"
      >
    </div>

    <div class="form-group">
      <button
              type="submit"
              class="btn btn-block btn-primary"
              [disabled]="form.invalid"
      >
        Edit
      </button>
    </div>
  </form>
</div>