<form *ngIf="isEditShow" [formGroup]="form" (ngSubmit)="onSubmit()">
  <h4>Edit the object</h4>
  <table class="table table-striped table-bordered bootstrap-datatable datatable add-cat-table">
    <thead>
    <tr>
      <th>Category</th>
      <th>Description</th>
      <th>Area, m <sup>2</sup></th>
      <th>Price, $</th>
      <th><i class="fa fa-times form-close" aria-hidden="true" (click)="closeEditForm()"></i></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <div class="form-group">
          <select class="form-control underlined" formControlName="editSelect" [(ngModel)]="selectedItem">
            <option value="{{ c.id }}" *ngFor="let c of categoriesList">{{ c.name }}</option>
          </select>
        </div>
      </td>
      <td>
        <div class="form-group"
             [ngClass]="{'has-error': form.get('editDescription').invalid && form.get('editDescription').touched,
                        'has-success': form.get('editDescription').valid}">
          <input
            type="text"
            class="form-control underlined"
            placeholder="Description"
            value="{{ theObject.description }}"
            formControlName="editDescription"
          >
          <span class="form-help-text" *ngIf="form.get('editDescription').invalid && form.get('editDescription').touched">
            <span *ngIf="form.get('editDescription')['errors']['required']">field can not be empty</span>
            <span *ngIf="form.get('editDescription')['errors']['maxlength']">
              <span>Max length: {{ form.get('editDescription')['errors']['maxlength']['requiredLength'] }}</span>
              <span>Actual: {{ form.get('editDescription')['errors']['maxlength']['actualLength'] }}</span>
            </span>
          </span>
        </div>
      </td>
      <td>
        <div class="form-group"
             [ngClass]="{'has-error': form.get('editArea').invalid && form.get('editArea').touched,
                        'has-success': form.get('editArea').valid}">
          <input
             type="number"
             min="1"
             class="form-control underlined"
             placeholder="Area"
             value="{{ theObject.area }}"
             formControlName="editArea"
          >
        </div>
      </td>
      <td>
        <div class="form-group"
             [ngClass]="{'has-error': form.get('editPrice').invalid && form.get('editPrice').touched,
                        'has-success': form.get('editPrice').valid}">
          <input
              type="number"
              min="1"
              class="form-control underlined"
              placeholder="Price"
              value="{{ theObject.price }}"
              formControlName="editPrice"
          >
        </div>
      </td>
      <td>
        <button type="submit" class="btn btn-success" [disabled]="form.invalid">Save</button>
      </td>
    </tr>
    </tbody>
  </table>
</form>