<ul class="pagination">
  <li class="page-item" [ngClass]="{'disabled': pageActive === 1}">
    <span class="page-link" (click)="prev()">Prev</span>
  </li>

  <li class="page-item" [ngClass]="{'active': pageActive === p}" *ngFor="let p of pages">
    <span class="page-link" (click)="getPage(p)">{{ p }}</span>
  </li>

  <li class="page-item" [ngClass]="{'disabled': pageActive === maxLength}">
    <span class="page-link" (click)="next()">Next</span>
  </li>
</ul>
