<div class="col-md-6 col-xl-4">
  <h3>Change password</h3>
  <div class="alert alert-{{ message.type }}" *ngIf="message.text">{{ message.text }}</div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div
      class="form-group"
      [ngClass]="{'has-error': form.get('pass').invalid && form.get('pass').touched,
                  'has-success': form.get('pass').valid}"
    >
      <label for='pass-pass'>New password</label>
      <input
        type="password"
        class="form-control underlined"
        id="pass-pass"
        placeholder="Enter new password"
        formControlName="pass"
      >
      <span
        class="form-help-text"
        *ngIf="form.get('pass').invalid && form.get('pass').touched">
          <span *ngIf="form.get('pass')['errors']['required']">Password can not be empty. </span>
          <span *ngIf="form.get('pass')['errors']['minlength']">Password must be greater than
            {{ form.get('pass')['errors']['minlength']['requiredLength'] }}
            symbols. Now {{ form.get('pass')['errors']['minlength']['actualLength'] }}.
          </span>
      </span>
    </div>

    <div
      class="form-group"
      [ngClass]="{'has-error': form.get('repeat').invalid && form.get('repeat').touched,
                'has-success': form.get('repeat').valid}"
    >
      <input
        type="password"
        class="form-control underlined"
        id="pass-repeat"
        placeholder="Repeat new password"
        formControlName="repeat"
      >
      <span
        class="form-help-text"
        *ngIf="form.get('repeat').invalid && form.get('repeat').touched">
          <span *ngIf="form.get('repeat')['errors']['required']">Password can not be empty. </span>
          <span *ngIf="form.get('repeat')['errors']['minlength']">Password must be greater than
            {{ form.get('repeat')['errors']['minlength']['requiredLength'] }}
            symbols. Now {{ form.get('repeat')['errors']['minlength']['actualLength'] }}.
          </span>
      </span>
      <span
        class="error-form-help-text"
        *ngIf="form.valid && form.get('pass')['value'] !== form.get('repeat')['value']">
          Passwords do not match
      </span>
    </div>

    <div class="form-group">
      <button
        type="submit"
        class="btn btn-block btn-warning"
        [disabled]="form.invalid || form.get('pass')['value'] !== form.get('repeat')['value']"
      >
        Change
      </button>
    </div>
  </form>
</div>
