<form *ngIf="isAddShow" [formGroup]="form" (ngSubmit)="onSubmit()">
  <h4>Add the object</h4>
  <table class="table table-striped table-bordered bootstrap-datatable datatable add-cat-table">
    <thead>
    <tr>
      <th>Category</th>
      <th>Description</th>
      <th>Area, m <sup>2</sup></th>
      <th>Price, $</th>
      <th><i class="fa fa-times form-close" aria-hidden="true" (click)="closeAddForm()"></i></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <div class="form-group">
          <select class="form-control underlined" formControlName="addSelect">
            <option value="{{ c.id }}" *ngFor="let c of categoriesList">{{ c.name }}</option>
          </select>
        </div>
      </td>
      <td>
        <div class="form-group"
             [ngClass]="{'has-error': form.get('addDescription').invalid && form.get('addDescription').touched,
                        'has-success': form.get('addDescription').valid}">
          <input
            type="text"
            class="form-control underlined"
            placeholder="Description"
            formControlName="addDescription"
          >
          <span class="form-help-text" *ngIf="form.get('addDescription').invalid && form.get('addDescription').touched">
            <span *ngIf="form.get('addDescription')['errors']['required']">field can not be empty</span>
            <span *ngIf="form.get('addDescription')['errors']['maxlength']">
              <span>Max length: {{ form.get('addDescription')['errors']['maxlength']['requiredLength'] }}</span>
              <span>Actual: {{ form.get('addDescription')['errors']['maxlength']['actualLength'] }}</span>
            </span>
          </span>
        </div>
      </td>
      <td>
        <div class="form-group"
             [ngClass]="{'has-error': form.get('addArea').invalid && form.get('addArea').touched,
                        'has-success': form.get('addArea').valid}">
          <input
            type="number"
            min="1"
            class="form-control underlined"
            placeholder="Area"
            formControlName="addArea"
          >
        </div>
      </td>
      <td>
        <div class="form-group"
             [ngClass]="{'has-error': form.get('addPrice').invalid && form.get('addPrice').touched,
                        'has-success': form.get('addPrice').valid}">
          <input
            type="number"
            min="1"
            class="form-control underlined"
            placeholder="Price"
            formControlName="addPrice"
          >
        </div>
      </td>
      <td>
        <button type="submit" class="btn btn-success" [disabled]="form.invalid">Add</button>
      </td>
    </tr>
    </tbody>
  </table>
</form>