<div class="col-md-4">
  <h3>Сreate category</h3>
<div class="alert alert-{{ message.type }}" *ngIf="message.text">{{ message.text }}</div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div
      class="form-group"
      [ngClass]="{'has-error': form.get('category').invalid && form.get('category').touched,
                  'has-success': form.get('category').valid}"
    >
      <label for="set-category">Category name</label>
      <input
        type="text"
        class="form-control underlined"
        id="set-category"
        placeholder="enter category name"
        formControlName="category"
      >
    </div>
    <div class="form-group">
      <button
        type="submit"
        class="btn btn-block btn-primary"
        [disabled]="form.invalid"
      >
        Create
      </button>
    </div>
  </form>
</div>


