<header class="header">
    <div class="header-block header-block-search">
        
    </div>
    <div class="header-block header-block-nav">
        <ul class="nav-profile">
            <li class="profile dropdown" wfmDropdown>
                <a class="nav-link dropdown-toggle" role="button">
                   <span class="name">
                     Welcome, {{ userName.name }}
                   </span>
                </a>
                <div class="dropdown-menu profile-dropdown-menu">
                    <a class="dropdown-item" [routerLink]="['/system', 'profile']">
                        <i class="fa fa-gear icon"></i>
                        Profile
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" (click)="logOut()">
                        <i class="fa fa-power-off icon"></i>
                        Log out
                    </a>
                </div>
            </li>
        </ul>
    </div>
</header>