<div class="carts-cont" *ngIf="!isLoad"></div>
<div class="carts-cont" *ngIf="isLoad">
    <ngx-charts-pie-chart
            [view]="view"
            [results]="dataUser"
            [legend]="true"
            [explodeSlices]="false"
            [labels]="true"
            [doughnut]="true">
    >
    </ngx-charts-pie-chart>
    <ngx-charts-pie-chart
            [view]="view"
            [results]="dataCat"
            [legend]="true"
            [explodeSlices]="false"
            [labels]="true"
            [doughnut]="true">
        >
    </ngx-charts-pie-chart>
</div>
