.table td, .table th {
  vertical-align: middle;
  text-align: center;
}
.nav-profile:hover .profile-dropdown-menu {
  display: block;
}
.box-icon {
  display: flex;
  justify-content: flex-end;
}
.box-icon button {
  margin-left: 10px;
  margin-bottom: 10px;
}
.add-cat-table .form-group {
  margin-bottom: 0;
}
.app {
  background-color: #fff;
}
.object-active {
  background-color: #d7dde4 !important;
}
.form-close {
  cursor: pointer;
}
.header .header-block-nav .profile-dropdown-menu {
  margin: 0;
}
.error-form-help-text {
  color: #fb494d;
  font-size: 13px;
}
.carts-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: .25rem;
  justify-content: center;
}
.page-link {
  cursor: pointer;
}
page-item.active {
  z-index: 1;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
.view-select {
  width: auto;
  height: 39px;
  margin-left: 10px;
}
.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 80px;
}